.footer{
    background-color: #2e343f;
  padding-top: 1rem;
  font-size: 1.4rem;
  height: 15rem;
  padding: 60px 0;
  position: relative; }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.contact-area {
border-bottom: 1px solid #2e343f;
}

.contact-content p {
font-size: 15px;
margin: 30px 0 60px;
position: relative;
}

.contact-content p::after {
background: #f7f7f7;
bottom: -30px;
content: "";
height: 1px;
left: 50%;
position: absolute;
transform: translate(-50%);
width: 80%;
}

.contact-content h6 {
color: #8b9199;
font-size: 15px;
font-weight: 400;
margin-bottom: 10px;
}

.contact-content span {
color: #2e343f;
margin: 0 10px;
}

.contact-social {
margin-top: 30px;
}

.contact-social > ul {
display: inline-flex;
}

.contact-social ul li a {
border: 1px solid #8b9199;
color: #8b9199;
display: inline-block;
height: 30px;
margin: 0 10px;
padding: 6px;
transition: all 0.4s ease 0s;
width: 50px;
}
@media (max-width: 56.25em) {
    .contact-social ul li a {
        width: 36px;
        text-align: center;
    } }

.contact-social ul li a:hover {
border: 3px solid white;
color: #FAB702;
}

.contact-content img {
max-width: 210px;
}

footer {
margin-top: 4rem;
border-top: 1.3px solid grey;
background: #2e343f;
color: white;
}

footer p {
padding: 40px 0;
text-align: center;
font-size: 1.6rem;
}

footer img {
width: 44px;
margin-top: -2px;
}
.logo{
    width: 15rem;
    height: auto;
    
    

}
.logobox{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: -5rem;
}

.hover-target{
    width: 4rem;

}
